/* general */
*{
padding: 0;
margin: 0;
box-sizing: border-box;
 }
 :root
 {
    --main-color:crimson;
 }
 .heading-p{
    max-width: 500px;
    margin: auto;
}
 /* Start home */
 .home .nav-link.active
{
    color: var(--main-color) !important;
}
.nav-link
{
    transition: color .5s;
}
.nav-link:hover{
    color: var(--main-color) !important;
}
.home
{
    background-image: url(../img/header-bg.jpg);
    background-size:cover;
    background-position: center center;
    height: 100vh;
}
.home-layer
{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
}
.home-layer button{
border: 1px solid #fff;
color: #fff;
background-color: transparent;
animation: none;
transition: all .5s;
padding:10px 20px;
}
.home-layer button:hover{
    background-color: #fff;
     color: black;

}
.down
{
    width: 25px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    animation: identifier 1.5s alternate infinite;
}
.down .point
{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
}
@keyframes identifier {
    0%
    {
        bottom: 10%;
    }
    50%{
bottom: 13%;
    }
    100%
    {
        bottom: 10%;
    }
}
/* start about */
.about h3 span{
    color:var(--main-color);
}
.about i{
    padding:10px;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 50%;
    transition: all 1s;
    cursor: pointer;
}
.about i:hover{
    color:var(--main-color);
    border-color:var(--main-color);
}
/* end about */
/* start services */
.services
{
    background-color:#F8F9FA;
}
.services-item
{
    border: 1px solid #ccc;
    padding: 15px;
}
.services hr{
    width: 60px;
    height: 2px;
    color: red;
    background-color: red;
    margin: auto;
    transition: all .6s;
}
.services i{
    color: var(--main-color);
}
.services-item:hover hr{
    width: 80px;
}
/* end services */
/* start client */
.client
{
    background-color: #F8F9FA;
}
.client .carousel-indicators button
{
    width: 15px;
    height: 7px;
    background-color:var(--main-color);
}
.client .carousel-indicators button.active
{
    width: 20px; 
}
/* end client */
/* start portfolio */
.portfolio-layer
{
    background-color: rgba(0, 0, 0, 0.7);
    transition: all .5s;
    opacity: 0;
}
.portfolio-item:hover .portfolio-layer{
    opacity: 1;
}
.portfolio-item img{
    transition: all .5s;
}
.portfolio-item:hover img{
    transform: scale(1.2);
}
.layer-caption
{
    top: 100%;
    transition: all 1s;
}
.portfolio-item:hover .layer-caption
{
top: 50%;
transform: translateY(-50%);
}
/* end portfolio */
/* start blog */
.blog
{
    background-color: #F8F9FA;
}
.blog-item
{
    background-color: #fff;
  padding: .5rem;
}
.blog-item img
{
    border-radius: 7px; 
    padding-bottom: 8px;
}
.blog-item a h5{
    color: black;
}
.blog-item p{
    color: #999;
}
.blog-item p span a{
   margin-top: 10px;
    color: var(--main-color);
    font-weight: bold;
}
/* end blog */
/* start contact */
.contact i{
    color: var(--main-color);
    margin-bottom: 1rem;
}
.contact .row p{
    color: #999;
}
.contact button 
{
    display: flex;
    justify-content: flex-start;
}
/* end contact */
.footer
{
    background-color: #212121;
}
.footer i{
    color: #fff;
    padding:5px;
    text-align: center;
    margin: 0px 10px;
    border: 1px solid #999;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: all .5s;
    cursor: pointer;
}
.footer i:hover{
    color: var(--main-color);
}